.heroSection {
  margin: 25% 0 56px 0;
}

.aboutHeader {
  color: #fff;
  font: 700 14px Merriweather;
  padding: 8px 12px;
  border-radius: 32px;
  border: 1px solid #202020;
  width: max-content;
  margin: 56px auto 56px auto;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(101, 101, 101, 0.31) inset;
}

.bottomThree {
  overflow: scroll;
  display: flex;
  gap: 12px;
  left: 45%;
  justify-content: space-between;
  margin: 56px auto 0 auto;
}

.mepics {
  width: 60%;
}
