* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

html {
  background-color: #000;
}
body {
  margin: 0 auto;
}

/* Media query */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    width: 90%;
    margin: 0 auto;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    width: 90%;
    margin: 0 auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    width: 50%;
  }
}
