.homeFooter {
  margin-top: 40px;
  margin-bottom: 192px;
}

.homeFooter p {
  margin: 8px 0 0 0;
}

.socialIcons {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}

.socialIcons:hover {
  cursor: pointer;
}
