@font-face {
  font-family: "Qalisso";
  src: url("../../Fonts/Qalisso.woff") format("woff");
}

.QalissoText {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-content: center;
}

.QalissoText p:nth-child(2) {
  margin-top: 16px;
  font-family: "Qalisso";
  font-size: 40px;
  font-weight: 400;
  line-height: 64px;
  color: #fff;
}

.comingSoonHeader {
  color: #fff;
  align-items: center;
  padding: 8px 12px;
  border-radius: 32px;
  border: 1px solid #202020;
  width: max-content;
  margin: 0 auto;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(101, 101, 101, 0.31) inset;
}

/* Images */
.images666767 {
  z-index: -2;
  justify-content: center;
  align-items: center;
  display: flex;
  column-gap: 281px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.images666767 {
  opacity: 0.3;
}

.images666767 img {
  width: 34%;
  height: auto;
}

.images666767 img:nth-child(2) {
  width: 50%;
}

/* Media query */

@media only screen and (max-width: 600px) {
  .images666767 {
    column-gap: 36px;
  }

  .images666767 img {
    margin-top: -200px;
    width: 64%;
  }

  .images666767 img:nth-child(2) {
    margin-top: 170px;
    width: 90%;
  }
}

/* Media query */

@media only screen and (max-width: 600px) {
  .QalissoText {
    width: 90%;
  }

  .QalissoText p:nth-child(2) {
    font-size: 30px;
    line-height: 44px;
  }
}
